


/*                      RECIPE HEADER
------------------------------------------------------------------------- */

.recipeheader {
  background-color: var( --color-white );
  padding: 2rem 0 1rem 0;
  position: relative;
  z-index: $zindex-menu + 1;

  .content {
    @include flex;
  }

  @media only screen and (max-width: $size-S) {
    padding: 1.5rem 0;

    .content {
      @include flexColumn;
    }
  }

  @media only screen and (max-width: $size-XS) {
    background: none !important;
  }

  @media only screen and (max-width: $size-XXS) {
    padding: ( $btn-height + 1rem ) 0 2rem 0;
  }

  .breadcrumb {
    position: absolute;
    top: 0;
    left: 3rem;

    @media only screen and (min-width: $size-XL) {
      left: 4rem;
    }

    @media only screen and (max-width: $size-XS) {
      left: $btn-height;
    }

    @media only screen and (max-width: $size-XXS) {
      left: 0;
      padding: 0 1.5rem;
    }
  }

  h1 {
    color: var( --color-main2 );
    padding: 0 1.5rem;

    .sub {
      padding: 0.25rem 0;

      &:last-child {
        color: var( --color-gray );
      }

      span {
        font-weight: $fontweight-normal;
      }
    }

    @media only screen and (max-width: $size-XS) {
      padding: 0;
    }
  }

  h5 {
    margin-top: 3rem;
    padding-left: 1.5rem;
    color: var( --color-main2 );
    opacity: 0.6;
  }

  ol {
    counter-reset: things;
    padding-right: 3rem;
    max-width: 45em;

    li {
      counter-increment: things;
      font-size: 1.125rem;
      position: relative;
      margin-top: 0.75em;

      &:before {
        content: counter(things);
        position: absolute;
        left: -1.5rem;
        top: 0.25rem;
        width: 1rem;
        line-height: 1.125rem;
        text-align: right;
        font-weight: $fontweight-bold;
        color: var( --color-main2 );
        opacity: 0.6;
      }
    }

    @media only screen and (max-width: $size-S) {
      padding-right: 0;
    }
  }

  & + article section:first-child {
    min-height: auto;
    padding-top: 2rem;

    @media only screen and (max-width: $size-S) {
      .cols {
        row-gap: 0;
      }
    }
  }
}

.recipeheader-main {
  @include flexGrow( 1 );
}

.recipeheader-image {
  @include flexNoShrink;
  text-align: center;
  width: 50%;

  img {
    width: 100%;
    max-width: 35rem;
    margin: auto;
  }

  @media only screen and (max-width: $size-M) {
    @include flexShrink( 0.5 );
  }

  @media only screen and (max-width: $size-S) {
    margin-top: 1.5rem;
    width: 100%;
  }
}

.recipeheader-meta {
  position: absolute;
  @include flex;
  height: 3rem;
  bottom: -1.5rem;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: var( --color-dark );
  color: var( --color-white );
  overflow: hidden;

  .icon {
    stroke: var( --color-gray );
    margin: 0.25rem;
  }

  & > div {
    margin: 0 0.75rem 0 0.25rem;
  }

  h6 {
    @include ellipsis;
    font-size: 0.65rem;
    color: var( --color-gray );
    line-height: 1em;

    & + span {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    left: 1rem;
    right: 1rem;
  }
}



/*                      RECIPE LAYOUT
------------------------------------------------------------------------- */

article {
  background-color: var( --color-main1 );
  @include transition( background-color, $transition-slide );
  background-attachment: fixed;
  background-image: url( '../images/simpletomake-logobg.svg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50% top 50%;
  color: var( --color-white );

  @media only screen and (max-width: $size-XS) {
    background: none !important;
  }
}

@for $i from 1 through $sectionsNum {
  article.section#{$i} {
    background-color: var( --color-main#{$i} );
  }

  @media only screen and (max-width: $size-XS) {
    section.section#{$i} {
      background-color: var( --color-main#{$i} );
    }
  }
}

section {
  min-height: 100vh;
  outline: none;

  h2 {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  @media only screen and (max-width: $size-XS) {
    padding-top: 0;
    padding-bottom: 5rem;
    min-height: 0;
  }

  @media only screen and (max-width: $size-XXS) {

    &.content {
      padding: 0.5rem;
    }
  }
}



/*                      RECIPE FOOTER
------------------------------------------------------------------------- */

.recipefooter {
  background-color: var( --color-white );
  color: var( --color-dark );

  .btn-icon {
    color: var( --color-gray );
    text-align: center;
    width: 100%;
    height: auto;
    border: 3px solid transparent;
    border-radius: 4px;
    @include transition( all, $transition-hover );

    .icon {
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
      display: block;
      margin: auto;
    }

    span {
      line-height: 1.2;
      padding: 0.5rem;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    padding: 1.5rem 0;

    .btn-icon {
      @include flex;
      @include flexMiddle;
      margin: 0;

      .icon {
        @include flexNoShrink;
      }

      span {
        @include flexGrow( 1 );
        text-align: left;
      }
    }
  }
}

body:not(.touch) {
  .recipefooter .btn-icon:hover {
    color: var( --color-dark );
    border-color: var( --color-hilite );
  }
}



/*                      CARDS
------------------------------------------------------------------------- */

.card {
  background-color: var( --color-white );
  border-radius: 4px;
  color: var( --color-dark );
  padding: 1.5rem;
  position: relative;

  @media only screen and (max-width: $size-XXS) {
    border-radius: 0;
  }
}

.card-title {

  h3 {
    font-weight: $fontweight-bold;
  }

  @media only screen and (max-width: $size-S) {
    margin-top: 1rem;
    margin-left: 0;
    border-radius: 4px;

    &:after {
      display: none;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    border-radius: 0;
  }
}

.section-ingredients {

  .card {

    h3 {
      @include flex;

      .quantity {
        @include flexGrow( 1 );
        text-align: right;
        font-weight: $fontweight-bold;
      }
    }

    @media only screen and (max-width: $size-XXS) {

      h3 {
        display: block;

        .quantity {
          display: block;
          text-align: left;
        }
      }
    }
  }
}

.section-instructions {

  .card {
    padding-bottom: 3rem;
    height: calc( 100% - 1rem );

    @media only screen and (max-width: $size-S) {
      padding-bottom: 1.5rem;
      height: 100%;
    }
  }

  h3 {
    color: var( --color-main4 );
  }
}

.section-usage {
  @include flex;
  @include flexVerticalCenter;

  h3 {
    font-family: $font-title;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var( --color-main5 );
  }

  @media only screen and (max-width: $size-S) {
    display: block;
  }
}

.card-list-ordered {
  counter-reset: cardnum;

  .card:before {
    counter-increment: cardnum;
    content: counter(cardnum);
    position: absolute;
    top: 0.1rem;
    left: 0.5rem;
    font-weight: $fontweight-bold;
    color: var( --color-main4 );
    opacity: 0.6;

    @media only screen and (max-width: $size-M) {
      font-size: 1rem;
    }
  }
}

.card-empty {
  padding: 1.5rem;

  p {
    font-size: 1rem;
    opacity: 0.8;
  }
}

.card-checkbox {
  background: transparent;
  padding: 0;

  .card-body {
    background-color: var( --color-white );
    border-radius: 4px;
    padding: 1.5rem;
    height: 100%;
    @include transition( background-color, $transition-hover );

    @media only screen and (max-width: $size-XXS) {
      border-radius: 0;
    }
  }

  a,
  .quantity {
    z-index: 1;
    @include transition( background-color, $transition-hover );
  }

  input[type="checkbox"] {
    position: absolute;
    left: calc( 0.25rem + 1px );
    top: calc( 0.25rem + 1px );
    width: 1rem;
    height: 1rem;
    border: 1px solid var( --color-main3 );
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    background-color: var( --color-white );
    background-repeat: no-repeat;
    background-position: center center;
    @include transition( all, $transition-hover );

    &:checked {
      border-color: transparent;
      background-color: transparent;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><polyline fill="none" stroke="%23FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" points="21 348 26 353 36 343" transform="translate(-16 -336)"/></svg>');

      & ~ .card-body {
        background-color: rgba( 255, 255, 255, 0.4 );
      }
    }

  }

  label {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $zindex-base;
  }
}

body:not(.touch) {

  input[type="checkbox"]:not(:checked):hover {
    background-color: var( --color-tag );
  }

  a.ingredient:hover {
    background: var( --color-hilite );
  }
}



/*                      COMPARISON DATA
------------------------------------------------------------------------- */

.comparison {
  @include flex;

  & > div {
    width: 100%;
    padding-top: 0.5rem;

    & + div {
      margin-left: 1rem;
    }
  }

  h6 {
    margin-bottom: 0.5rem;
  }

  span {
    font-size: 0.75rem;
  }

  @media only screen and (max-width: $size-XS) {
    @include flexColumn;

    & > div + div {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.comparison-row {
  position: relative;
  @include clearfix;

  h6 {
    position: absolute;
    z-index: $zindex-base;
    line-height: 1rem;
    padding: 0 0.25rem;
    color: var( --color-dark );
  }

  ul {
    display: inline;

    & + ul {
      li {
        opacity: 0.5;
      }
    }
  }

  li {
    float: left;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.15rem;
    list-style: none;
    border-radius: 100%;
    background-color: var( --color-white );
  }

  .bar {
    background-color: var( --color-white );
    opacity: 0.5;
    height: 1rem;

    & + .bar {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}



/*                      SOURCES
------------------------------------------------------------------------- */

.sources {

  li {
    @include flex;

    .icon {
      margin: 0 0.5rem 0 0;
      opacity: 0.4;
    }

    span {
      font-size: 0.85rem;
      padding: 0.2rem 0;
      line-height: 1.1rem;
    }

    & + li {
      margin-top: 0.5rem;
    }
  }
}


