


/*                      SIDEBAR
------------------------------------------------------------------------- */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 16rem;
  max-width: 100%;
  @include flex;
  @include flexColumn;
  background-color: var( --color-dark );
  color: var( --color-white );
  z-index: $zindex-sidebar;
  overflow: auto;
  text-align: left;
  @include translateX( -100% );
  @include transition( transform, $transition-slide );

  &.open {
    @include translateX( 0 );
  }

  .group {
    padding: 0 1rem 1rem 1rem;
  }

  .div {
    @include flexGrow( 1 );
  }

  .sidebar-contacts {
    a {
      display: block;
      color: var( --color-gray );
      @include insetBoxShadow( 0, 2px, 0, -1px, rgba( 255, 255, 255, 0.2 ) );
    }
  }

  h3 {
    font-family: $font;
    font-size: 0.85rem;
    line-height: 2rem;
    padding: 0 0.25rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: var( --color-gray );
  }

  li {

    .btn {
      display: block;
      text-align: left;
      font-size: 0.9rem;
      line-height: 2.25rem;
    }

    &.selected .btn {
      color: var( --color-hilite );
    }
  }

  @media only screen and (max-width: $size-XXS) {
    min-width: 0;
    width: calc( 100% - 2rem );
    max-width: 20em;
  }
}

.btn-mainnavclose {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  text-align: left;

  .icon {
    margin: 0;
  }

  @media only screen and (min-width: $size-XL) {
    padding: 0.5rem 1rem;
  }
}

.sidebar-help {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem 0.5rem;
  opacity: 0.5;

  .key {
    height: 1.5rem !important;
    line-height: 1.25rem;
    padding: 0 0.5rem;
    font-size: 0.65rem;
    background-color: transparent;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    margin-right: 0.25rem;
    letter-spacing: 1px;

    .icon {
      margin: 0;
      stroke: currentColor;
    }
  }

  .key-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
  }
}

body:not(.touch) {
  .sidebar .btn:focus,
  .sidebar .btn:hover {
    background-color: rgba( 255, 255, 255, 0.2 );
  }
}


