


/*                      TEXT
------------------------------------------------------------------------- */

body {
  font-family: $font;
  font-size: 16px;
  font-weight: $fontweight-normal;
  text-rendering: optimizeLegibility;
}

p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol li {
  margin-left: 1.5rem;
}

strong {
  font-weight: $fontweight-bold;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.4;
}

* + p {
  margin-top: 0.5rem;
}

.note {
  font-size: 0.9rem;
  color: var( --color-gray );
}

::-moz-selection {
  background: var( --color-hilite );
  text-shadow: none;
  color: var( --color-dark );
}

::selection {
  background: var( --color-hilite );
  text-shadow: none;
  color: var( --color-dark );
}



/*                      TITLES
------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;

  .sub {
    font-size: 0.55em;
    padding: 0.25rem 0;
    line-height: 1.4;

    & > span:not(.quantity) {
      opacity: 0.5;
    }

    .quantity {
      font-size: 1.5rem;
      line-height: $btn-height;
      padding: 0;
    }

    .btn-icon {
      vertical-align: top;
      margin: 0 0.25rem;
    }
  }
}

h1 {
  font-size: 3rem;
  line-height: 1;

  @media only screen and (max-width: $size-XXS) {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: $fontweight-normal;

  @media only screen and (max-width: $size-XXS) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: $fontweight-normal;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: $fontweight-normal;

  strong {
    display: block;
    margin-bottom: 0.25em;
  }
}

h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: var( --color-dark );
}

h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}



/*                      LABELS
------------------------------------------------------------------------- */

.ingredient,
.quantity {
  display: inline-block;
  padding: 0.4em 0.6em;
  font-weight: $fontweight-normal;
}

.ingredient {
  background-color: var( --color-tag );
}

.quantity {
  font-family: $font;
  white-space: nowrap;
}

.qtyspan {
  font-family: $font;
  font-weight: $fontweight-bold;
  white-space: nowrap;

  &[data-tooltip] {
    border-bottom: 2px dotted var(--color-main4);
  }
}

.touch {
  .qtyspan[data-tooltip] {
    border: none;
  }
}



/*                      KEYS
------------------------------------------------------------------------- */

.key {
  display: inline-block;
  padding: 0 0.75rem;
  height: 1.7rem !important;
  line-height: 1.7rem;
  font-size: 0.8rem;
  color: var( --color-white );
  vertical-align: top;
  background-color: var( --color-main3 );
  font-family: $font;
  text-align: center;
  border-radius: 3px;
  background-size: 1rem !important;

  & + * {
    margin-left: 0.25rem;
  }

  & + .note {
    display: inline-block;
    line-height: 1.7rem;
    margin-left: 0.5rem;
  }
}

.key-icon {
  padding: 0;
  line-height: 0;

  .icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0.35rem;
  }
}


